

body{
	background-color:#00F;
}

h1{
	color:#FC0;
	border-top:5px solid #FFF;
	border-bottom:5px solid #FFF;
	padding-bottom:20px;
	text-align:center;
}

p{
	color:#FC0;
	font-size:2em;
}

p span{font-size:2em;
}